body {
  background-color: #161032;
}

header {
  font-family: Calibri, sans-serif;
  font-size: 3rem;
  background-color: #161032;
  color: #F4B393;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 5px;
}

span.quot {
  font-size: 4.5rem;
}

div.quoteWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
}